<!DOCTYPE html>
<html lang="en-us" ng-app="the-project">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="public/css/the-project.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <script src="public/js/vendor.js"></script>
    <script src="public/js/the-project.js"></script>
</head>
<body>
<div>
    <div ng-controller="app.MainCtrl">
        <header id="header"></header>

        <div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Меню</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">
                    <img src="public/img/logo2.png" style="height: 50px;">
                </a>
            </div>

            <div class="collapse navbar-collapse">
                <nav>
                    <ul class="nav navbar-nav navbar-brand pull-left">
                        <li ng-if="currentUser.userRole == 'User'">
                            <a href="#/home">Home</a>
                        </li>
                        <li ng-if="currentUser.userRole == 'Admin'">
                            <a href="#/users">Users</a>
                        </li>
                        <li>
                            <a href="#/actions">Actions</a>
                        </li>
                        <li id="nav_settings" ng-if="currentUser.userRole == 'Admin'">
                            <a href="#/company">Companies</a>
                        </li>
                    </ul>
                </nav>
                <ul class="nav navbar-nav navbar-brand pull-right">
                    <li ng-if="isLogin()">
                        <a href="#/profile" class="navbar-link">{{ currentUser.login }}</a>
                    </li>
                    <li ng-if="!isLogin()">
                        <a href="#/login" class="navbar-link">Login</a>
                    </li>
                    <li ng-if="!isLogin()">
                        <a href="#/registration" class="navbar-link">Sing Up</a>
                    </li>
                    <li ng-if="isLogin()">
                        <a class="navbar-link pull-right" href="" ng-click="logout()">Logout</a>
                    </li>
                    <li>
                        <a class="pull-right" href="#/profile" ng-bind-html="trustAsHtml(user.photo)"></a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="mainarea">
            <div id="ribbon">
                <ol class="breadcrumb"></ol>
            </div>

            <div id="content">
                <div class="container">
                    <div id="container" app-view-segment="0"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>