<section id="widget-grid" jarviswidgets>

    <article class="col-md-12">
        <div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable min-width-table" id="wid-id-4"
             data-widget-editbutton="false" data-widget-collapsed="false" data-widget-deletebutton="false">

            <header role="heading">
                <span class="widget-icon">
                    <i class="fa fa-user"></i>
                </span>
                <h2>Purchased Actions</h2>
                <span class="jarviswidget-loader">
                    <i class="fa fa-refresh fa-spin"></i>
                </span>
                <div class="jarviswidget-ctrls" rel="tooltip" title="Customise columns" data-placement="bottom">
                    <a href="" class="button-icon" title="" ng-click="columnConfig(adminUsersTable, SHOW_USER_TABLE, PROFILE_CUSTOMER_TABLE_NAME)">
                        <i class="fa fa-wrench column-config"></i>
                    </a>
                </div>
            </header>

            <div role="content">
                <div class="widget-body no-padding">
                    <form class="client-form">
                        <div class="dataTables_wrapper form-inline" role="grid">
                            <div class="dt-top-row"></div>
                            <div class="dt-wrapper">
                                <table name="datatable_fixed_column"
                                       class="table table-striped table-bordered smart-form dataTable"
                                       aria-describedby="datatable_fixed_column_info">
                                    <thead>
                                    <tr role="row">
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Percent
                                        </th>
                                        <th>
                                            Company
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr ng-repeat="action in   data[USER_TABLE]">
                                        <td>{{ action.name }}</td>
                                        <td>{{ action.percent }}</td>
                                        <td>{{ action.company.name }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="dt-row dt-bottom-row">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="dataTables_info" id="datatable_fixed_column_info">
                                            {{ getPageInfo(USER_TABLE) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-right" ng-if="pages[USER_TABLE]">
                                        <div class="dataTables_paginate paging_bootstrap">
                                            <ul class="pagination">
                                                <li class="prev" ng-click="getPrevPage(USER_TABLE)" ng-class="prev[USER_TABLE] ? '' : 'disabled'">
                                                    <a href="">Prev</a>
                                                </li>
                                                <li ng-repeat="page in pages[USER_TABLE]" ng-click="getPage(page, USER_TABLE)" ng-class="(page == current[USER_TABLE]) ? 'active' : ''">
                                                    <a href="">{{ page + 1 }}</a>
                                                </li>
                                                <li class="next" ng-click="getNextPage(USER_TABLE)" ng-class="next[USER_TABLE] ? '' : 'disabled'">
                                                    <a href="">Next</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
</section>

<br>
<div>
    <input type="text" placeholder="enter email" ng-model="email" />
    <input type="submit" value="TEST WEB-SOCKET" ng-click="start()" />
</div>
<div id="messages"></div>