<div style="margin-top: 10%; width: 500px; margin-left: 27%;">
    <form class="smart-form client-form flipInY">
        <header>Login please</header>
        <fieldset>
            <section>
                <label class="label"></label>
                <label class="input">
                    <input type="email" placeholder="my@mail.com" ng-model="user.email">
                </label>
            </section>

            <section>
                <label class="label"></label>
                <label class="input">
                    <input type="password" placeholder="********" ng-model="user.password">
                </label>
            </section>
        </fieldset>

        <footer>
            <button type="button" class="btn btn-primary" ng-click="login()">Login</button>
        </footer>
    </form>
</div>