<div style="margin-top: 10%; width: 500px; margin-left: 27%;">
    <form class="smart-form client-form flipInY">
        <header>Registration</header>
        <fieldset>
            <section>
                <label class="label">Login</label>
                <label class="input">
                    <input type="text" placeholder="login" ng-model="user.login">
                </label>
            </section>

            <section>
                <label class="label">Email</label>
                <label class="input">
                    <input type="email" placeholder="my@mail.com" ng-model="user.email">
                </label>
            </section>

            <section>
                <label class="label">Password</label>
                <label class="input">
                    <input type="password" placeholder="********" ng-model="user.password">
                </label>
            </section>

            <section>
                <label class="label">Age</label>
                <label class="input">
                    <input type="text" placeholder="28" ng-model="user.age">
                </label>
            </section>

            <section>
                <label class="label">Count of cigarettes per day</label>
                <label class="input">
                    <input type="text" placeholder="10" ng-model="user.countCigarette">
                </label>
            </section>
        </fieldset>

        <footer>
            <button type="button" class="btn btn-primary" ng-click="login()">Sing Up</button>
        </footer>
    </form>
</div>